.author-photo {
    width: 220px;
    height: 293px;
    background-color: #ffffff; /* blanc pour éviter l’effet voilé */
    border: 2px solid #3e2f2f;
    float: right;
    margin: 0 0 20px 20px;
}

.author-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Remplace contain */
}
